option_settings:
  aws:elasticbeanstalk:application:environment:
    PGHOST: collegi.cawj4tp1mnyn.eu-central-1.rds.amazonaws.com
    PGUSER: collegi
    PGDATABASE: collegi
    PGPASSWORD: CollegiOkCiao2019.
    PGPORT: 5432
    NODE_ENV: development
    HOST: ilmiodeputato.eu-central-1.elasticbeanstalk.com
    PORT: 80
